<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#"><h2>EPIC Manager</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= homeActive %> ">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item <%= messageActive %> ">
          <a class="nav-link" href="/message-board">Message Board</a>
        </li>
        <li class="nav-item <%= reviewActive %> ">
          <a class="nav-link" href="/performance-reviews">Performance Reviews</a>
        </li>
        <li class="nav-item <%= trackerActive %> ">
          <a class="nav-link" href="/target-tracker">Target Tracker</a>
        </li>
      </ul>
      <div class='nav-item' style='display: flex; color: white;'>
      <span class='nav-text pt-2'>Hello, <%= name %>!</span>
      <a class='nav-link pt-2' href="/users/logout">Logout</a>
      </div>
    </div>
  </nav>