<%- include('../partials/_head') -%>
<%- include('../partials/_nav') -%>

<div id="message-board-container">
    
    <div id='message-board-header'>
        <h2>Welcome to the message board</h2>
        <a role='button' class='btn btn-success' href="/message-board/add">Add Message</a>
    </div>

    <div id="message-board-cards">
        <% messages.forEach(function(message) { %>
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header"><span id='message-card-author'>From: </span><%= message.author %></div>
                <div class="card-body">
                <h4 class="card-title"><%= message.title %></h4>
                <p class="card-text"><%= message.content %></p>
                </div>
            </div>
        <% }); %>
    </div>
</div>